@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  src:
    url(https://fonts.gstatic.com/s/indieflower/v8/10JVD_humAd5zP2yrFqw6nZ2MAKAc2x4R1uOSeegc5U.eot?#iefix) format('embedded-opentype'),
    url(https://fonts.gstatic.com/s/indieflower/v8/10JVD_humAd5zP2yrFqw6hampu5_7CjHW5spxoeN3Vs.woff2) format('woff2'),
    url(https://fonts.gstatic.com/s/indieflower/v8/10JVD_humAd5zP2yrFqw6nhCUOGz7vYGh680lGh-uXM.woff) format('woff'),
    url(https://fonts.gstatic.com/s/indieflower/v8/10JVD_humAd5zP2yrFqw6qRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

body {
  height: 700px;
}

.container {
  margin: 0 auto;
  width: 100%;
}

h1 {
  font: bold 8vmin 'Indie Flower', sans-serif;
  text-align: center;
  font-size: 7.5vmin;
}

h3 {
  font: bold 6vmin 'Indie Flower', sans-serif;
  color: #337ab7;
  margin: 0 10px 0 0;
  text-align: center;
  padding-left: 5px;
}

.totals-header {
  margin-right: 1px;
}

.totals {
  height: 40px;
  margin-top: 10px;
}

form {
  padding-top: 10px;
}

.form-group {
  margin: 0 5px 10px 5px;
}

input {
  max-width: 95%;
}

label {
  font: bold 4.5vmin 'Indie Flower', sans-serif;
  color: #337ab7;
  padding-left: 5px;
}

.btn {
  font-family: 'Indie Flower', sans-serif;
  margin: 0;
  padding: 2px 5px;
}

.input-btn {
  margin: 5px;
}

.done {
  margin: 0 0 0 5px;
}

.table-btn {
  padding: 1px 2px;
}

.table {
  width: 100%;
  margin-bottom: 5px;
}

#food-table-div {
  height: 400px;
  overflow: scroll;
}

.food-table-header {
  margin-right: -10px;
}

table {
  width: 100%;
  margin-top: 5px;
}

.table thead tr th {
  font: bold 5vmin 'Indie Flower', sans-serif;
  padding: 4px;
}

.table tbody tr td {
  max-width: 300px;
  padding: 4px;
}

.option {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.close {
  float: none;
}

@media (orientation: landscape) and (max-width: 700px) {
  .second-col {
    padding: 0;
    position: relative;
    right: 15px;
  }
}

@media (min-width: 700px) {
  .totals {
    height: 80px;
  }

  .table thead tr th {
    font-size: 4vmin;
  }

  .btn {
    margin-top: 10px;
  }

  .option {
    margin-top: 0;
  }
}

@media (min-width: 1100px) {
  .container {
    max-width: 1100px;
    align-content: center;
  }
}
