body {
    height: 700px;
}

.container {
    margin: 0 auto;
}

#totals-table {
    height: 110px;
}

h1 {
    text-align: center;
}

h3 {
    margin-top: 5px;
    text-align: center;
    padding-left: 5px;
}

#table-title {
    width: 90%;
}

.table {
    width: 100%;
    margin-bottom: 5px;
}

#food-table-div {
    height: 400px;
    overflow: scroll;
}

#food-table {
    width: 100%;
    margin-top: 5px;
}

td {
    max-width: 300px;
}

.form-group {
    margin-bottom: 5px
}

.form-group label {
    font-size: 16px;
}

#search-label {
    padding-left: 5px;
}

#searching {
    padding-left: 5px;
}

.checkbox {
    margin-top: 0;
}


@media (orientation: landscape), (min-width: 900px) {
    .container {
        max-width: 1000px;
        align-content: center;
    }
}