<!doctype html>  
<html lang="en">  
<head>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Calories Diary</title>
    
    
  <link rel="stylesheet" href="/libs/bootstrap.min.css">
  <link rel="stylesheet" href="/libs/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="container">
    <div class="row title">
        <h1>My Food diary</h1>
    </div>
    
    <div class="row">
        <div id="totals-div" class="col-xs-12 col-sm-4">
            <h3>Current day totals</h3>
            <div id="table-div"></div>
        
        </div>

        <div id="today-div" class= "col-xs-12 col-sm-8">
            <div id="search-results-div" class= "col-xs-12 col-sm-8"></div>
            <div id="my-list-div" class= "col-xs-12 col-sm-8"></div>
        
        
        </div>
    </div>
    
    </div>
    
    <!-- Load JS libraries and app js -->
    <script src="libs/jquery-min.js"></script>
    <script src="libs/underscore-min.js"></script>
    <script src="libs/backbone-min.js"></script>
    <script src="libs/backbone.localStorage-min.js"></script>
    <script src="js/config.js"></script>
    <script src="js/main.js"></script>
    
    <!-- Templates -->
    <script type="text/template" id="totals-template">
    <table class="table">
    <tr>
        <td colspan="2"><b>Calories</b>:  <%= calories %></%></td>
    </tr>
    <tr>
        <td colspan="2"><b>Sodium</b>:  <%= sodium %></%></td>
    </tr>
    <tr>
        <td><b>Fat</b>:  <%= totFat %></%></td>
        <td><b>(saturated)</b>:  <%= satFat %></%></td>
    </tr>
    </table>
    <form>
        <div class="form-group">
            <label for="search">Search for online nutritional information</label>
            <input type="text" class="form-control" id="search" placeholder="Ex: frozen broccoli with cheese sauce">
            <input class="btn btn-default" type="submit" value="Submit">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Check here to search My Food List instead
            </label>
        </div>
    </form>
    </script>
</body>
    
</html>