<!doctype html>  
<html lang="en">  
<head>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Calories Diary</title>
    
    
  <link rel="stylesheet" href="/libs/bootstrap.min.css">
  <link rel="stylesheet" href="/libs/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>My Food diary</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <h3>Current day totals</h3>
            <div id="table-div"></div>
        
        </div>

        <div class= "col-xs-12 col-sm-8">
            <table id="food-table">
                <tr>
                    <th colspan="5">Item</th>
                    <th>Calories</th>
                    <th>Tot fat (g)</th>
                    <th>Sat fat (g)</th>
                    <th>Sodium (mg)</th>
                    <th id="toggle">Servings</th>
                </tr>
            </table>
        </div>
    </div>
    
    </div>
    
    <!-- Load JS libraries and app js -->
    <script src="libs/jquery-min.js"></script>
    <script src="libs/underscore-min.js"></script>
    <script src="libs/backbone-min.js"></script>
    <script src="libs/backbone.localStorage-min.js"></script>
    <script src="js/config.js"></script>
    <script src="js/main.js"></script>
    
    <!-- Templates -->
    <script type="text/template" id="totals-template">
    <table class="table">
    <tr>
        <td colspan="2"><b>Calories</b>:  <%= calories %></%></td>
    </tr>
    <tr>
        <td><b>Fat</b>:  <%= totFat %></%></td>
        <td><b>(saturated)</b>:  <%= satFat %></%></td>
    </tr>
    <tr>
        <td colspan="2"><b>Sodium</b>:  <%= sodium %></%></td>
    </tr>
    </table>
    <form>
        <div class="form-group">
            <label for="search">Search for online nutritional information</label>
            <input type="text" class="form-control" id="searchbox" placeholder="Ex: frozen broccoli with cheese sauce">
            <input id="search-btn" class="btn btn-default" type="submit" value="Submit">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Check here to search My Food List instead
            </label>
        </div>
    </form>
    </script>
    
    <script type="text/template" id="food-template">
        
    </script>
    
</body>
    
</html>